@import url(variables.css);
@import url(header.css);
@import url(footer.css);
@import url(home.css);
@import url(lists.css);
@import url(show.css);


#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Funnel Display", sans-serif;
    font-style: normal;
    background-color: var(--white);
}

#app a {
    text-decoration: none;
}

main{
    flex: 1;
    background-color: var(--white);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

footer{
    margin-top: auto;
}