/* TÍTULOS */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Funnel+Display:wght@300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/*
    .funnel-display-<uniquifier> {
        font-family: "Funnel Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
*/

/* TEXTO */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Funnel+Display:wght@300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/*
    .tajawal-regular {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
*/

:root {
    --white: #F2F2F2;
    --black: #0D0D0D;
    --lightBlue: #5EADF2;
    --blue: #4B89BF;
    --darkBlue: #2D5273;
}